"""
# Database Configuration .env

DATABASE_URL="postgresql://qrpipay:dev_password@localhost:5432/qrpipay"

# ou avec Docker:
# DATABASE_URL="postgresql://qrpipay:dev_password@postgres:5432/qrpipay"
"""
